# Env files
.env
.env.local
.env.*.local

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
*.iml
*.lock
.DS_Store

# Android specific
android/app/debug
android/app/profile
android/app/release
android/.gradle
android/local.properties
android/app/key.properties

# iOS specific
ios/.symlinks
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/Generated.xcconfig
