# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.python-version

# Git
.git
.gitignore

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Project specific
tests/
*.md
LICENSE
*.yaml
!cloudbuild.yaml 